@use "../../styles/colors" as colors;

.dropdown{
  position: relative;
  display: inline-flex;
  & > &--container {
    &.right-aligned{
      right: 0;
    }
    top: 40px;
    position: absolute;
    visibility: hidden;
    z-index: 2;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    background: colors.$white;

    &.rounded-2x{
      border-radius: 0.5rem;
    }

    &.show{
      visibility: visible;
    }
  }
}